gensim==3.8.3
googletrans
matplotlib==3.3.3
neattext==0.0.9
streamlit>=0.81.0
textblob
transformers
streamlit-lottie

spacy==2.3.2
wordcloud==1.8.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm

